fastapi==0.115.6
uvicorn[standard]==0.34.0

pymongo==4.11.1
pymupdf==1.25.3

python-multipart==0.0.20
python-dotenv==1.0.1

passlib==1.7.4
bcrypt==4.0.1

python-jose==3.3.0
pydantic==2.10.6

groq==0.18.0